@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
  @*  <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Transactions</h2>
        </div>
          <div class="col-6">
        </div>
    </div>
    <br />
    <div id="UploadDiv">
        <div class="row pt-4">
            <div>
                <p class="text-secondary">Upload file</p>
            </div>
            <div>
                <form method="post" enctype="multipart/form-data">
                    <div>
                        <input id="fileInput" type="file" name="file" class="form-control"/>
                    </div>
                    <br />
                    <div class="mb-3">
                        <input class="btn btn-primary" type="submit" value="Upload" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div>
        <div class="row pt-4">
            <div class="col-2">
                <p class="text-secondary">Status</p>
            </div>
            <div class="col-8">
            <input type="text" autocomplete="off" id="statusInput"/>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-2">
                <p class="text-secondary">Currency</p>
            </div>
            <div class="col-8">
                <input type="text" autocomplete="off" id="CcodeInput" />
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-2">
                <p class="text-secondary">Start Date</p>
            </div>
            <div class="col-3">
                <input class="form-control" asp-for="DateTime" value="" id="startInput" />
            </div>
            -
            <div class="col-2">
                <p class="text-secondary">End Date</p>
            </div>
            <div class="col-3">
                <input class="form-control" asp-for="DateTime" value="" id="endInput" />
            </div>
        </div>
        <br />
        <div>
        <input type="button" class="btn btn-primary" value="Search" id="Searchbtn" />
        </div>
        <br />
        <div>
            <div>
                <p class="text-secondary">Result</p>
            </div>
            <div class ="row pt-4">
                <span id="resultTxt"> </span>
            </div>
        
        </div>
       
    </div>
  
</div>
<script type="text/javascript">

        var apifunc = 'GetTransactionsByValues';
        document.getElementById("Searchbtn").onclick = function () {
            var statusval = $('#statusInput').val();
        alert(statusval);
            var currencyCode = $('#CcodeInput').val();
            var startdate = $('#startInput').val();
            var enddate = $('#endInput').val();
            let options = {
                method: 'POST',
                headers: { accept: 'application/json', 'content-type': 'application/json' },
                body: JSON.stringify({
                    start: startdate,
                    end: enddate,
                    currency : currencyCode,
                    status : statusval
                }),
            };

        fetch(apifunc, options).then(response => response.text())
            .then(text => $('#resultTxt').text(text))

        }
</script>

